<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBkQZ-jRxLF6fWMAHocM8vxgosGOoXVpc</string>
	<key>GCM_SENDER_ID</key>
	<string>633115721273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alluwalacademyadmin</string>
	<key>PROJECT_ID</key>
	<string>alluwalacademy-e32c1</string>
	<key>STORAGE_BUCKET</key>
	<string>alluwalacademy-e32c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633115721273:ios:af997482b084ef606e17e8</string>
</dict>
</plist>